*{
    margin:0;
    padding:0;
    color:white;
}

div{
    border-radius: 5px;
    background-color:#28282b;
}

h1 {
    text-align: center;
    text-shadow: 2px 4px 6px black;
    font-family: math;
    color: black;
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(13,1fr);
    grid-gap: 6px;
    border:1px solid black;
    width:1310px;
    padding:12px 12px 12px;
    background-color:#7D7C7C:
}
.row1 {
    text-align: left;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0px 2px;
    box-shadow: 3px 3px 3px 0px white;
}

.space{

    visibility: hidden;
}

.left{
    text-align:right;
}
div#esc {
    /* width: 60px; */
    font-size: 20px;
    padding: 6px 35px 6px 10px;
}
#r1{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    width:50.73px;
}
.circle {
    background-color: white;
    padding: 6px;
    padding: 4px 9px;
    border-radius: 50%;
}
.circle-2 { 
    padding: 6px;
    padding: 4px 9px;
    border-radius: 50%;
    color:white;
}
div#space-1 {
    visibility: hidden;
}

.row2{
    grid-row-start:3;
    grid-row-end:5;
    border:solid 1px black;
    box-shadow: 3px 3px 3px white;
}

#below_esc{
    width:52.09px;
}
#absolute{
    position:relative;
    left:-23px;
}
.backspace {
    grid-column-start: 14;
    grid-column-end: 16;
    width: 75px;
}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.row3{
    grid-row-start:5 ;
    grid-row-end:7 ;
    border:solid 1px black;
    box-shadow: 3px 3px 3px white;
}
.row4{
    grid-row-start:7;
    grid-row-end:9;
    border:solid 1px black;
    box-shadow: 3px 3px 3px white;
}
.ENTER{
    grid-row-start:7;
    grid-row-end:9;
    grid-column-start:13;
    grid-column-end:13;
}
.row5{
    grid-row-start:9;
    grid-row-end:11;
    border:solid 1px black;
    box-shadow: 3px 3px 3px white;   
}
div#caps {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
    width: 93px;
}
.shift4 {
    position: relative;
    left: -38px;
}
.enterbox {
    grid-column-start: 14;
    grid-column-end: 16;
    width: 90px;
}
.shift {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 106px;
}
.shift5 {
    position: relative;
    left: -26px;
}
.shifttab {
    grid-column-start: 13;
    grid-column-end: 16;
    width: 134px;
}

.row6{
    grid-row-start:11;
    grid-row-end:13;
    border:solid 1px black;
    box-shadow: 3px 3px 3px white;   
}
.space-bar{
    grid-column-start: 5;
    grid-column-end:11;
}
#zero{
    grid-column-start:20;
    grid-column-end:22;
}
#plus{
    grid-row-start:3;
    grid-row-end:9;
}
#minus{
    width:50.09px;
}
#enternum{
    display:flex;
    flex-direction: column;
    grid-row-start: 9;
    grid-row-end:13;
}

/* CHANGES */

.backspace {
    grid-column-start: 14;
    grid-column-end: 16;
    width: 70px;
}


.enterbox {
    grid-column-start: 14;
    grid-column-end: 16;
    width: 85px;
}
.shifttab {
    grid-column-start: 13;
    grid-column-end: 16;
    width: 128px;
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(13,1fr);
    grid-gap: 6px;
    border: 1px solid black;
    width: 1310px;
    padding: 12px 12px 12px;
    background-color:#0d0a0b;
    margin: auto;
    position: relative;
    top: 100px;
    transform: scale(1.04);
    border: 1px solid black
    
}
h1 {
    text-align: center;
    text-shadow: 3px 5px 8px black;
    font-family: math;
    color: black;
    font-size: xxx-large;
    margin-top: 50px;
}

footer {
    font-family: sans-serif;
    font-size: 35px;
    position: relative;
    color: black;
    font-weight: bold;
    text-shadow: 4px 4px 6px black;
}
cite{
    color:black;
    font-weight: bold;
}
.r1 {
    background-color: #a3b18a;
    color: #28282b;
}
* {
    margin: 0;
    padding: 0;
    color: black;
}
.r2box.v {
    background-color: #a3b18a;
}
.r2{
    background-color: #a3b18a;
}
.backspace {
    background-color: #7D7C7C;
}
.T{
    background-color: #7D7C7C;
}
.esc{
    background-color: #F5F7F8;
}
.circle-2{
    background-color: white;
}
footer {
    TOP: 160px;
    LEFT: 500px;
}
body{
    background-image:url(ddvp.webp);
    background-size: cover;
}
